Repository ansible/workshops, pull requests merged in 2019-11, with the labels that each got.

#535 Fix missing 1.2 numbering
  exercises/ansible_security/1.1-explore/README.md
Labels: security-workshop

#534 Add missing raw-endraw flags
  exercises/ansible_rhel/2.7-wrap/README.md
Labels: rhel-workshop

#548 Remove SmartConsole installation part
  exercises/ansible_security/1.2-checkpoint/README.md
Labels: security-workshop

#549 Add missing high tick for code block
  exercises/ansible_security/2.1-suspicious/README.md
Labels: security-workshop

#541 Win workshop docs
  exercises/ansible_windows/1-tower/exercise1.md
  exercises/ansible_windows/1-tower/images/1-tower-add-machine-credential.png
  exercises/ansible_windows/1-tower/images/1-tower-add-scm-credential.png
  exercises/ansible_windows/1-tower/images/1-tower-create-project.png
  exercises/ansible_windows/1-tower/images/1-tower-credentials.png
  exercises/ansible_windows/1-tower/images/1-tower-edit-inventory.png
  exercises/ansible_windows/1-tower/images/1-tower-host-edit.png
  exercises/ansible_windows/1-tower/images/1-tower-hosts-view.png
  exercises/ansible_windows/1-tower/images/1-tower-project-success.png
  exercises/ansible_windows/1-tower/images/1-tower-project.png
  exercises/ansible_windows/2-adhoc/exercise2.md
  exercises/ansible_windows/2-adhoc/images/2-adhoc-run-command.png
  exercises/ansible_windows/2-adhoc/images/2-adhoc-run-commands-button.png
  exercises/ansible_windows/2-adhoc/images/2-adhoc-run-setup-output.png
  exercises/ansible_windows/2-adhoc/images/2-adhoc-run-win_feature-output.png
  exercises/ansible_windows/2-adhoc/images/2-adhoc-run-win_ping-output.png
  exercises/ansible_windows/2-adhoc/images/2-adhoc-run-win_ping-success.png
  exercises/ansible_windows/2-adhoc/images/2-adhoc-run-win_ping.png
  exercises/ansible_windows/3-playbook/exercise3.md
  exercises/ansible_windows/3-playbook/images/3-vscode-click-commit.png
  exercises/ansible_windows/3-playbook/images/3-vscode-commit.png
  exercises/ansible_windows/3-playbook/images/3-vscode-create-folders.png
  exercises/ansible_windows/3-playbook/images/3-vscode-open-folder.png
  exercises/ansible_windows/3-playbook/images/3-vscode-push-initial-pop-up.png
  exercises/ansible_windows/3-playbook/images/3-vscode-push.png
  exercises/ansible_windows/4-projects/exercise4.md
  exercises/ansible_windows/4-projects/images/4-create-job-template.png
  exercises/ansible_windows/4-projects/images/4-job-summary-details.png
  exercises/ansible_windows/4-projects/images/4-job-summary-output.png
  exercises/ansible_windows/4-projects/images/4-project-sync.png
  exercises/ansible_windows/4-projects/images/4-survey-prompt.png
  exercises/ansible_windows/4-projects/images/4-survey.png
  exercises/ansible_windows/4-projects/images/4-website-output.png
  exercises/ansible_windows/5-adv-playbook/exercise5.md
  exercises/ansible_windows/5-adv-playbook/images/5-commit.png
  exercises/ansible_windows/5-adv-playbook/images/5-create-template.png
  exercises/ansible_windows/5-adv-playbook/images/5-push.png
  exercises/ansible_windows/5-adv-playbook/images/5-survey.png
  exercises/ansible_windows/5-adv-playbook/images/5-vscode-create-folders.png
  exercises/ansible_windows/5-adv-playbook/images/5-vscode-existing-folders.png
  exercises/ansible_windows/5-adv-playbook/images/5-vscode-iis-yaml-2.png
  exercises/ansible_windows/5-adv-playbook/images/5-vscode-iis-yaml.png
  exercises/ansible_windows/5-adv-playbook/images/5-vscode-template.png
  exercises/ansible_windows/6-roles/exercise6.md
  exercises/ansible_windows/6-roles/images/6-commit.png
  exercises/ansible_windows/6-roles/images/6-create-role.png
  exercises/ansible_windows/6-roles/images/6-new-site.png
  exercises/ansible_windows/6-roles/images/6-results.png
  exercises/ansible_windows/6-roles/images/6-vscode-existing-folders.png
  exercises/ansible_windows/7-win-patch/exercise7.md
  exercises/ansible_windows/7-win-patch/images/7-category-survey.png
  exercises/ansible_windows/7-win-patch/images/7-create-win_updates.png
  exercises/ansible_windows/7-win-patch/images/7-push.png
  exercises/ansible_windows/7-win-patch/images/7-reboot-survey.png
  exercises/ansible_windows/7-win-patch/images/7-vscode-existing-folders.png
  exercises/ansible_windows/7-win-patch/images/7-win_update-commit.png
  exercises/ansible_windows/7-win-patch/images/7-win_update-playbook.png
  exercises/ansible_windows/7-win-patch/images/7-win_update-template.png
Labels: windows-workshop

#551 [WIP] Improve verification checks, add walkthrough test
  exercises/ansible_security/1.2-checkpoint/playbooks/web_attack_simulation.yml
  exercises/ansible_security/1.2-checkpoint/playbooks/whitelist_attacker.yml
  exercises/ansible_security/2.1-suspicious/playbooks/triage_log_sources.yml.j2
  provisioner/roles/manage_ec2_instances/templates/instructor_inventory_security.j2
  provisioner/roles/manage_ec2_instances/templates/security_instances.txt.j2
  provisioner/tests/security_exercise_21.yml
  provisioner/tests/security_verify.yml
Labels: security-workshop

#555 Update walkthrough tests and add README
  provisioner/tests/README.md
  provisioner/tests/security_exercise_21.yml
Labels: security-workshop

#568 Win docs
  exercises/ansible_windows/1-tower/exercise1.md
  exercises/ansible_windows/1-tower/images/add.png
  exercises/ansible_windows/1-tower/images/at_edit.png
  exercises/ansible_windows/1-tower/images/at_save.png
  exercises/ansible_windows/2-adhoc/exercise2.md
  exercises/ansible_windows/3-playbook/exercise3.md
  exercises/ansible_windows/4-projects/exercise4.md
  exercises/ansible_windows/4-projects/images/add.png
  exercises/ansible_windows/4-projects/images/at_add_survey.png
  exercises/ansible_windows/4-projects/images/at_launch_icon.png
  exercises/ansible_windows/4-projects/images/at_save.png
  exercises/ansible_windows/5-adv-playbook/exercise5.md
  exercises/ansible_windows/5-adv-playbook/images/at_add.png
  exercises/ansible_windows/5-adv-playbook/images/at_add_survey.png
  exercises/ansible_windows/5-adv-playbook/images/at_launch_icon.png
  exercises/ansible_windows/5-adv-playbook/images/at_save.png
  exercises/ansible_windows/6-roles/images/at_launch_icon.png
  exercises/ansible_windows/7-win-patch/images/at_add.png
  exercises/ansible_windows/7-win-patch/images/at_add_survey.png
  exercises/ansible_windows/7-win-patch/images/at_launch_icon.png
  exercises/ansible_windows/7-win-patch/images/at_save.png
Labels: document bug

#588 Removing ToC
  exercises/ansible_windows/1-tower/exercise1.md
  exercises/ansible_windows/2-adhoc/exercise2.md
  exercises/ansible_windows/3-playbook/exercise3.md
  exercises/ansible_windows/4-projects/exercise4.md
  exercises/ansible_windows/5-adv-playbook/exercise5.md
  exercises/ansible_windows/6-roles/exercise6.md
  exercises/ansible_windows/7-win-patch/exercise7.md
Labels: document bug
