Repository ansible/workshops, pull requests merged in 2019-09, with the labels that each got.

#404 Add timing to RHEL workshop
  exercises/ansible_rhel/README.md
Labels: rhel-workshop

#408 Exercises/qradar
  exercises/ansible_security/1.1-explore/README.md
  exercises/ansible_security/1.2-checkpoint/README.md
  exercises/ansible_security/1.4-qradar/README.md
  exercises/ansible_security/1.4-qradar/images/qradar-main-window.png
  exercises/ansible_security/1.4-qradar/images/qradar-offense-window.png
  exercises/ansible_security/1.4-qradar/images/qradar-offenses-rules.png
  exercises/ansible_security/1.4-qradar/images/qradar-rules-disabled.png
  exercises/ansible_security/1.4-splunk/README.md
  exercises/ansible_security/README.md
Labels: security-workshop

#416 Fix curly brackets display
  exercises/ansible_rhel/1.6-templates/README.md
Labels: rhel-workshop

#418 Fix missing dir
  exercises/ansible_rhel/1.7-role/README.md
Labels: rhel-workshop

#419 Add gw mng auto merger
  provisioner/roles/cp_setup/tasks/add_gw_to_mgmt.yml
  provisioner/roles/cp_setup/tasks/main.yml
Labels: security-workshop

#420 Reorder tasks in security addhost
  provisioner/roles/manage_ec2_instances/tasks/addhost_security.yml
Labels: security-workshop

#422 Update hosts
  provisioner/hosts
Labels: enhancement

#424 Add idstools to snort
  provisioner/security.yml
Labels: security-workshop

#425 Add state check when identifying corresponding CP mgmt and ngfw
  provisioner/roles/cp_setup/tasks/add_gw_to_mgmt.yml
Labels: security-workshop

#426 Fix memory problems with windows workstation running smartconsole
  provisioner/roles/manage_ec2_instances/defaults/main.yml
Labels: security-workshop

#423 Update ansible.cfg.j2
  provisioner/roles/control_node/templates/ansible.cfg.j2
Labels: networking

#429 narrow ec2 instance filter to avoid globbing
  provisioner/roles/cp_setup/tasks/add_gw_to_mgmt.yml
Labels: security-workshop

#436 Emergency: Pin Windows image date
  provisioner/roles/manage_ec2_instances/defaults/main.yml
Labels: security-workshop

#434 Make instructor inventories actually usable
  provisioner/roles/manage_ec2_instances/templates/instructor_inventory_security.j2
Labels: security-workshop

#432 Fix 503 error during CP deployment
  provisioner/roles/cp_setup/tasks/add_gw_to_mgmt.yml
  provisioner/security.yml
Labels: security-workshop

#430 adding attacker machine, attack subnet2, fix QRadar
  provisioner/qradar.yml
  provisioner/roles/cp_setup/tasks/add_gw_to_mgmt.yml
  provisioner/roles/manage_ec2_instances/tasks/addhost_security.yml
  provisioner/roles/manage_ec2_instances/tasks/ami_find_security.yml
  provisioner/roles/manage_ec2_instances/tasks/instances_security.yml
  provisioner/roles/manage_ec2_instances/tasks/resources.yml
  provisioner/roles/manage_ec2_instances/tasks/security_ec2_eni_include_tasks.yml
  provisioner/roles/manage_ec2_instances/tasks/teardown.yml
  provisioner/roles/manage_ec2_instances/templates/instructor_inventory_security.j2
  provisioner/roles/manage_ec2_instances/templates/security_instances.txt.j2
  provisioner/roles/qradar/defaults/main.yml
  provisioner/roles/qradar/handlers/main.yml
  provisioner/roles/qradar/tasks/main.yml
  provisioner/roles/qradar/templates/ifcfg-eth0:1.j2
  provisioner/roles/security_eth1/tasks/configure_eth1.yml
  provisioner/roles/security_eth1/tasks/main.yml
  provisioner/roles/security_eth1/templates/attacker-ifcfg-eth1.j2
  provisioner/roles/security_eth1/templates/snort-ifcfg-eth1.j2
  provisioner/roles/security_hostroutes_attack_host/tasks/add_hostroutes_from_attacker_to_checkpoint.yml
  provisioner/roles/security_hostroutes_attack_host/tasks/main.yml
  provisioner/roles/webservers_attack_simulation/files/ddos_simulation
  provisioner/roles/webservers_attack_simulation/files/sql_injection_simulation
  provisioner/roles/webservers_attack_simulation/files/web_attack_simulation
  provisioner/roles/webservers_attack_simulation/tasks/main.yml
  provisioner/security.yml
Labels: security-workshop

#443 Add notes about warning dialogs, thanks to dmellado
  exercises/ansible_security/1.2-checkpoint/README.md
Labels: security-workshop

#450 Security/snort qradar fix
  provisioner/roles/manage_ec2_instances/tasks/addhost_security.yml
  provisioner/roles/manage_ec2_instances/tasks/resources.yml
  provisioner/roles/windows_ws_setup/tasks/myrtille.yml
  provisioner/roles/windows_ws_setup/tasks/smartconsole.yml
  provisioner/security.yml
Labels: security-workshop

#453 Polishing messaging
  exercises/ansible_security/1.2-checkpoint/README.md
  exercises/ansible_security/2.1-suspicious/README.md
  exercises/ansible_security/2.2-threat/README.md
  exercises/ansible_security/2.3-incident/README.md
Labels: security-workshop
