Repository ansible/workshops, pull requests merged in 2020-04, with the labels that each got.

#747 Add populated Tower to security
  exercises/ansible_security/2.2-threat/README.md
  exercises/ansible_security/2.2-threat/images/tower_blacklist.png
  exercises/ansible_security/2.2-threat/images/tower_dashboard.png
  exercises/ansible_security/2.2-threat/images/tower_snort_survey.png
  exercises/ansible_security/2.2-threat/images/tower_url.png
  provisioner/roles/populate_tower/tasks/security.yml
  provisioner/roles/populate_tower/templates/security_survey_ids_rule.json
  provisioner/security.yml
Labels: security-workshop

#763 fix for code-server deployment bug
  provisioner/roles/code_server/tasks/codeserver.yml
Labels: provisioner

#774 Change screen to squid
  exercises/ansible_rhel/1.2-adhoc/README.ja.md
  exercises/ansible_rhel/1.2-adhoc/README.md
  exercises/ansible_rhel/1.2-adhoc/README.pt-br.md
Labels: rhel-workshop

#780 provisioner flexibility - decoupling exercises from provisioner
  docs/contribute-aws.md
  docs/contribute.md
  docs/exercises.md
  docs/faq.md
  provisioner/roles/control_node/tasks/main.yml
Labels: enhancement
