Repository ansible/workshops, pull requests merged in 2020-03, with the labels that each got.

#713 Increase waiting time in tests
  provisioner/tests/security_exercise_21.yml
Labels: security-workshop

#692 QE: Add windows workshops in gating in nightly jobs
  provisioner/tests/ci-windows.yml
  provisioner/tests/gating.groovy
  provisioner/tests/pipeline.groovy
Labels: windows-workshop

#712 Update Readme
  exercises/ansible_security/1.1-explore/README.md
  exercises/ansible_security/1.1-explore/images/1-vscode-access.png
  exercises/ansible_security/1.1-explore/images/1-vscode-check-ansible-version.png
  exercises/ansible_security/1.1-explore/images/1-vscode-new-terminal.png
  exercises/ansible_security/1.1-explore/images/1-vscode-welcome-page.png
Labels: security-workshop

#687 Add verify playbook for rhel workshop
  provisioner/tests/README.md
  provisioner/tests/gating.groovy
  provisioner/tests/pipeline.groovy
  provisioner/tests/rhel_verify.yml
Labels: rhel-workshop

#720 Add some more mentions of code server
  exercises/ansible_security/0.0-support-docs/editor_intro.md
  exercises/ansible_security/1.1-explore/README.md
  exercises/ansible_security/1.1-explore/images/1-vscode-filepicker.png
  exercises/ansible_security/1.2-checkpoint/README.md
  exercises/ansible_security/1.3-snort/README.md
  exercises/ansible_security/1.4-qradar/README.md
  exercises/ansible_security/2.1-suspicious/README.md
  exercises/ansible_security/2.1-suspicious/images/check_point_gaia_view.png
  exercises/ansible_security/2.1-suspicious/images/check_point_gw_name.png
  exercises/ansible_security/2.2-threat/README.md
  exercises/ansible_security/2.3-incident/README.md
  exercises/ansible_security/2.4-wrap/README.md
  exercises/ansible_security/README.md
  images/security_diagram.png
Labels: security-workshop

#726 exercise fix
  exercises/ansible_windows/1-tower/README.md
Labels: windows-workshop

#723 change instance type for windows workshop
  provisioner/roles/manage_ec2_instances/defaults/main.yml
Labels: windows-workshop

#725 Rename triage to investigation enrichment
  exercises/ansible_security/2.1-enrich/README.md
  exercises/ansible_security/2.1-enrich/images/check_point_gw_name.png
  exercises/ansible_security/2.1-enrich/images/qradar_filter_logs.png
  exercises/ansible_security/2.1-enrich/images/qradar_log_activity.png
  exercises/ansible_security/2.1-enrich/images/qradar_log_sources.png
  exercises/ansible_security/2.1-enrich/images/qradar_offenses.png
  exercises/ansible_security/2.1-enrich/playbooks/enrich_log_sources.yml.j2
  exercises/ansible_security/2.3-incident/README.md
  exercises/ansible_security/README.md
  provisioner/tests/security_exercise_21.yml
Labels: security-workshop

#733 Adding simple TOC (table of contents) and fixing language links
  exercises/ansible_network/README.md
  exercises/ansible_rhel/1.1-setup/README.ja.md
  exercises/ansible_rhel/1.1-setup/README.md
  exercises/ansible_rhel/1.1-setup/README.pt-br.md
  exercises/ansible_rhel/1.2-adhoc/README.ja.md
  exercises/ansible_rhel/1.2-adhoc/README.md
  exercises/ansible_rhel/1.2-adhoc/README.pt-br.md
  exercises/ansible_rhel/1.3-playbook/README.ja.md
  exercises/ansible_rhel/1.3-playbook/README.md
  exercises/ansible_rhel/1.3-playbook/README.pt-br.md
  exercises/ansible_rhel/1.4-variables/README.ja.md
  exercises/ansible_rhel/1.4-variables/README.md
  exercises/ansible_rhel/1.4-variables/README.pt-br.md
  exercises/ansible_rhel/1.5-handlers/README.ja.md
  exercises/ansible_rhel/1.5-handlers/README.md
  exercises/ansible_rhel/1.5-handlers/README.pt-br.md
  exercises/ansible_rhel/1.6-templates/README.ja.md
  exercises/ansible_rhel/1.6-templates/README.md
  exercises/ansible_rhel/1.6-templates/README.pt-br.md
  exercises/ansible_rhel/1.7-role/README.ja.md
  exercises/ansible_rhel/1.7-role/README.md
  exercises/ansible_rhel/1.7-role/README.pt-br.md
  exercises/ansible_rhel/1.8-bonus/README.ja.md
  exercises/ansible_rhel/1.8-bonus/README.md
  exercises/ansible_rhel/1.8-bonus/README.pt-br.md
  exercises/ansible_rhel/2.1-intro/README.ja.md
  exercises/ansible_rhel/2.1-intro/README.md
  exercises/ansible_rhel/2.1-intro/README.pt-br.md
  exercises/ansible_rhel/2.2-cred/README.ja.md
  exercises/ansible_rhel/2.2-cred/README.md
  exercises/ansible_rhel/2.2-cred/README.pt-br.md
  exercises/ansible_rhel/2.3-projects/README.ja.md
  exercises/ansible_rhel/2.3-projects/README.md
  exercises/ansible_rhel/2.3-projects/README.pt-br.md
  exercises/ansible_rhel/2.4-surveys/README.ja.md
  exercises/ansible_rhel/2.4-surveys/README.md
  exercises/ansible_rhel/2.4-surveys/README.pt-br.md
  exercises/ansible_rhel/2.5-rbac/README.ja.md
  exercises/ansible_rhel/2.5-rbac/README.md
  exercises/ansible_rhel/2.5-rbac/README.pt-br.md
  exercises/ansible_rhel/2.6-workflows/README.ja.md
  exercises/ansible_rhel/2.6-workflows/README.md
  exercises/ansible_rhel/2.6-workflows/README.pt-br.md
  exercises/ansible_rhel/2.7-wrap/README.ja.md
  exercises/ansible_rhel/2.7-wrap/README.md
  exercises/ansible_rhel/2.7-wrap/README.pt-br.md
  exercises/ansible_rhel/README.ja.md
  exercises/ansible_rhel/README.md
  exercises/ansible_rhel/README.pt-br.md
  images/brazil.png
Labels: enhancement

#735 Add missing quotes
  exercises/ansible_rhel/1.4-variables/README.md
Labels: rhel-workshop

#751 testing new s3 workshop page
  provisioner/roles/aws_workshop_login_page/templates/index.html.j2
Labels: enhancement
