Repository ansible/workshops, pull requests merged in 2020-02, with the labels that each got.

#688 Reorganizting gitlab-server and fixed teardown
  provisioner/roles/gitlab-server/tasks/add-users.yml
  provisioner/roles/gitlab-server/tasks/api.yml
  provisioner/roles/gitlab-server/tasks/certbot.yml
  provisioner/roles/gitlab-server/tasks/dns.yml
  provisioner/roles/gitlab-server/tasks/main.yml
  provisioner/roles/gitlab-server/tasks/teardown.yml
  provisioner/teardown_lab.yml
Labels: windows-workshop

#694 There are four boxes now
  exercises/ansible_rhel/2.3-projects/README.md
Labels: rhel-workshop

#699 Limit removed, so that all entries are recorded for teardown
  provisioner/roles/aws_dns/tasks/teardown.yml
  provisioner/roles/code_server/tasks/teardown.yml
Labels: provisioner

#693 Change prod to dev to allign description with example
  exercises/ansible_rhel/1.5-handlers/README.md
Labels: rhel-workshop

#698 Enforce ENI removal
  provisioner/roles/manage_ec2_instances/tasks/teardown.yml
Labels: security-workshop

#700 Security/tests add verify and exercises
  provisioner/tests/gating.groovy
  provisioner/tests/pipeline.groovy
  provisioner/tests/security_exercise_21.yml
  provisioner/tests/security_verify.yml
Labels: security-workshop

#715 Fix documentation issues caused by jekyll interpreter
  exercises/ansible_windows/3-playbook/README.md
  exercises/ansible_windows/5-adv-playbook/README.md
  exercises/ansible_windows/6-roles/README.md
  exercises/ansible_windows/7-win-patch/README.md
Labels: windows-workshop
